@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@300;400;500&family=Tinos:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: "FC-Coldwell-Bridges";
  src: url("/FC-Coldwell-Bridges.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

